<div class="song-item">

   <div class="inline details">

      <p><%= link_to song.title, song %></p>
      <% if !defined?(hide_artist) || !hide_artist %>
        <h4><%= link_to song.artist.name, song.artist %></h4>
      <% end %>

   </div>

</div>
